<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div class="header">
    <img src="/img/icon.png" alt="Tasks Icon" class="header-icon">
    <div class="title">
        Tasks<br>Manager
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/add">Add Tasks</a>
    </nav>
    </div>

    {{{body}}}
</body>
</html>
